*{
    box-sizing: border-box;
}
body{
    background:  #dc143d;
    font-family: "Nunito", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    margin:1rem 0;
}
h1{
    font-weight: bold;
    margin:0;
}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin:20px 0 30px;
}

form{
    background-color: #dc143d;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 50px;
    height:100%;
    text-align: center;
}
input{
    background-color: #eee;
    border:none;
    padding:12px 15px;
    margin: 8px 0;
    width: 300px;
    font-family: inherit;
    border-radius: 25px;
}
.container{
    background-color: rgb(206, 171, 44);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.85), 0 10px 10px rgba(0, 0, 0, 0.55);
    position:relative;
    overflow:hidden;
    height:488px;
    width:480px;
    max-width:100%;
}

.form-container{
    position:absolute;
    top:0;
    width:100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container{
    top:0;
    height:100%;
    z-index:2;
 }

 a{
    color:#333;
    font-size:14px;
    text-decoration: none;
    margin:15px 0;
 }

 button{
    cursor:pointer;
    border-radius:20px;
    border: 1px solid  #dc143d;
    background: black;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
 }

 button:hover{
    background:   #6b1b2b;
 }
 button:active{
    transform: scale(0.96);
 }
 button:focus{
    outline:none;
 }
.sign-up-container{
    top:0;
    height:100%;
    z-index:3;
 }

 .backgroundimage{
    text-align: center;
    background-color: #dc143d;
    /*filter:opacity(50%);*/
    width:80px;
    height:80px;
    margin-bottom:360px;
    position:absolute;
    right:42%;
    z-index:0;
}


